<h1>Editar cliente</h1>

<p>
  <%= link_to 'Ver', @cliente %> |
  <%= link_to 'Todos', clientes_path %>
</p>

<% form_for(@cliente) do |f| %>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.label :acompanhate %><br />
    <%= f.text_area :acompanhate %>
  </p>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<p>
  <%= link_to 'Ver', @cliente %> |
  <%= link_to 'Todos', clientes_path %>
</p>
