<h1>Listing clientes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Endereco</th>
    <th>Acompanhate</th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%=h cliente.nome %></td>
    <td><%=h cliente.endereco %></td>
    <td><%=h cliente.acompanhate %></td>
    <td><%= link_to 'Show', cliente %></td>
    <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Destroy', cliente, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cliente', new_cliente_path %>