<%=stylesheet_link_tag "div"%>

<h1>Listando os Clientes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Endereco</th>
    <th>Acompanhate</th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%=h cliente.nome %></td>
    <td><%=h cliente.endereco %></td>
    <td><%=h cliente.acompanhate %></td>
    <td><%= link_to 'Exibir', cliente, :class=>"linktoLeft" %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente), :class=>"linktoLeft" %></td>
    <td><%= link_to 'Apagar', cliente, :confirm => 'Confirma a Eliminação da linha?', :method => :delete, :class=>"linktoLeft" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo cliente', new_cliente_path, :class=>"linkto" %>