<%=stylesheet_link_tag "divs"%>
<%= stylesheet_link_tag "tablecloth/tablecloth/tablecloth"%>
<%= javascript_include_tag "tablecloth"%>

<div id="Cabecalho">
	<h1>Relação de Clientes</h1>
</div>

<br><br>


<div id="container">
	<div id="content">

		<div id="box_campos">
			<%= link_to 'Novo cliente', new_cliente_path, :class=> "linkto" %><br><br>
		</div>

		<table cellpadding=0 cellspacing=0 >
			  <tr>
				<th width="30%">Nome</th>
				<th width="22%">Endereco</th>
				<th width="3%">Acompanhate</th>
				<th width="20%">CONTROLE de Ações</th>
			  </tr>

			<% @clientes.each do |cliente| %>
			  <tr>
				<td><%=h cliente.nome %></td>
				<td><%=h cliente.endereco %></td>
				<td><%=h cliente.acompanhate %></td>

				<td>
					<%= link_to 'Exibir', cliente, :class=>"linktoLeft" %>
					<%= link_to 'Editar', edit_cliente_path(cliente), :class=>"linktoLeft" %>
					<%= link_to 'Apagar', cliente, :confirm => 'Confirma a Eliminação da linha?', :method => :delete, :class=>"linktoLeft" %>
				</td>

			  </tr>
			<% end %>
		</table>

		<div id="box_campos">
			<%= link_to 'Novo cliente', new_cliente_path, :class=> "linkto" %><br><br>
		</div>

 </div>

</div>

