<p>
  <%= link_to 'Editar', edit_cliente_path(@cliente) %> |
  <%= link_to 'Voltar para Todos os clientes', clientes_path %>
</p>

<p>
  <b>Nome:</b>
  <%=h @cliente.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @cliente.endereco %>
</p>

<p>
  <b>Acompanhate:</b>
  <%=h @cliente.acompanhate %>
</p>

<p>
  <%= link_to 'Editar', edit_cliente_path(@cliente) %> |
  <%= link_to 'Voltar para Todos os clientes', clientes_path %>
</p>
