<p>
  <b>Nome:</b>
  <%=h @cliente.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @cliente.endereco %>
</p>

<p>
  <b>Acompanhate:</b>
  <%=h @cliente.acompanhate %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>