<p>
  <%= f.label :data %><br />
  <%= f.text_field :data_formatada, :class => :data %>
</p>
<p>
  <%= f.label :cliente %><br />
  <%= f.text_field :cliente %>
</p>
<p>
  <%= f.label :cancelado %><br />
  <%= f.check_box :cancelado %>
</p>
