<% if @reservas %>
  <h1><%= params[:consulta]['data_reserva(3i)'] %>/<%= params[:consulta]['data_reserva(2i)'] %>/<%= params[:consulta]['data_reserva(1i)'] %></h1>
  <p>Quantidade de quartos disponíveis: <b><%= @reservas %></b>.<p>
<% end %>

<% form_for :consulta do |f| %>
  <p>
    <%= label_tag :data %>
    <%= date_select :consulta, :data_reserva %>
  </p>
  <p><%= f.submit 'Pesquisar' %></p>
<% end %>
