<%= link_to 'Voltar para as hospedagens', hospedagens_path %>
<% if @reservas %>
  <h1><%= l params[:consulta][:data_reserva].to_date %></h1>
  <p>Quantidade de quartos disponíveis <b><%= @reservas %></b>.</p>
<% end %>

<% form_for :consulta do |f| %>
  <p>
    <%= label_tag :data %>
    <%= text_field_tag :data_reserva, (params[:consulta][:data_reserva] if params[:consulta]), :name => 'consulta[data_reserva]', :class => :data %>
  </p>
  <p><%= f.submit 'Pesquisar' %></p>
<% end %>
