<h1>Editar reserva</h1>

<p>
  <%= link_to 'Ver', @reserva %> |
  <%= link_to 'Voltar para Todas as reservas', reservas_path %>
</p>

<% form_for(@reserva) do |f| %>
  <%= render 'formulario', :f => f %>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<p>
  <%= link_to 'Ver', @reserva %> |
  <%= link_to 'Voltar para Todas as reservas', reservas_path %>
</p>
