<h1>Reservas</h1>

<p><%= link_to 'Consulta', { :controller => :reservas, :action => :consulta } %></p>

<table>
  <tr>
    <th>Data</th>
    <th>Cliente</th>
    <th>Ativo</th>
  </tr>

<% @reservas.each do |reserva| %>
  <tr>
    <td><%=h reserva.data %></td>
    <td><%=h reserva.cliente %></td>
    <td><%=h reserva.ativo %></td>
    <td><%= link_to 'Ver', reserva %></td>
    <td><%= link_to 'Editar', edit_reserva_path(reserva) %></td>
    <td><%= link_to 'Apagar', reserva, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova reserva', new_reserva_path %>
