<p>
  <%= link_to 'Editar', edit_reserva_path(@reserva) %> |
  <%= link_to 'Todos', reservas_path %>
</p>

<p>
  <b>Data:</b>
  <%=h l @reserva.data %>
</p>

<p>
  <b>Cliente:</b>
  <%=h @reserva.cliente %>
</p>

<p>
  <b>Ativo:</b>
  <%=h @reserva.ativo %>
</p>

<p>
  <%= link_to 'Editar', edit_reserva_path(@reserva) %> |
  <%= link_to 'Todos', reservas_path %>
</p>
