<h1>Editing quarto</h1>

<% form_for(@quarto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </p>
  <p>
    <%= f.label :andar %><br />
    <%= f.text_field :andar %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%#= f.text_field :tipo %>
	<select name="quarto[tipo]">
				<option value="1">Solteiro</option>
				<option value="2">Casal</option>
				
			</select>
		
  </p>
  <p>
    <%= f.label :camas %><br />
    <%= f.text_field :camas %>
  </p>
  <p>
    <%= f.label :classe %><br />
    <%#= f.text_field :classe %>
	<select name="quarto[classe]">
				<option value="1">Apartamento</option>
				<option value="2">Suite</option>
				<option value="3">Master</option>
				
			</select>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @quarto %> |
<%= link_to 'Back', quartos_path %>
