<p>
  <b>Numero:</b>
  <%=h @quarto.numero %>
</p>

<p>
  <b>Andar:</b>
  <%=h @quarto.andar %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @quarto.tipo_nome %>
</p>

<p>
  <b>Camas:</b>
  <%=h @quarto.camas %>
</p>

<p>
  <b>Classe:</b>
  <%=h @quarto.classe_nome %>
</p>

<p>
  <b>Reservas:</b>
  <% @quarto.reservas.sort(&:data_reserva).each do |reserva| %>
    <p><%= link_to reserva.data_reserva, reserva %></p>
  <% end %>
</p>

<%= link_to 'Editar', edit_quarto_path(@quarto) %> |
<%= link_to 'Voltar', quartos_path %>
