<h1>Editar Produto</h1>

<p>
  <%= link_to 'Ver', @produto %> |
  <%= link_to 'Todos', produtos_path %>
</p>

<% form_for(@produto) do |f| %>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :preco %><br />
    <%= f.text_field :preco %>
  </p>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<p>
  <%= link_to 'Ver', @produto %> |
  <%= link_to 'Todos', produtos_path %>
</p>
