<h1>Editing produto</h1>

<% form_for(@produto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :preco %><br />
    <%= f.text_field :preco %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @produto %> |
<%= link_to 'Back', produtos_path %>