<h1>Produtos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Preco</th>
  </tr>

<% @produtos.each do |produto| %>
  <tr>
    <td><%=h produto.nome %></td>
    <td><%=h produto.preco %></td>
    <td><%= link_to 'Ver', produto %></td>
    <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
    <td><%= link_to 'Apagar', produto, :confirm => 'Certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo produto', new_produto_path %>
