<h1>Novo produto</h1>

<p><%= link_to 'Voltar', produtos_path %></p>

<% form_for(@produto) do |f| %>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :preco %><br />
    <%= f.text_field :preco %>
  </p>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<p><%= link_to 'Voltar', produtos_path %></p>
