  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>

  <p>
    <%= f.label :senha %><br />
    <%= f.password_field :senha %>
  </p>
