<h1>Usuários do Sistema</h1>

<div id="container">
  <div id="content">
    <p><%= link_to 'Novo Usuário', new_usuario_path, :class => :linkto %></p>

    <table>
      <tr>
        <th>Nome</th>
        <th>Login</th>
        <th width="20%">CONTROLE de Ações</th>
      </tr>

      <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= link_to usuario.nome, usuario %></td>
          <td><%=h usuario.login %></td>
          <td>
            <%= link_to 'Editar', edit_usuario_path(usuario) %>
            <%= link_to 'Apagar', usuario, :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </table>

    <br />

    <p><%= link_to 'Novo Usuário', new_usuario_path, :class => :linkto %></p>
  </div>
</div>
