<% if @hospedagem.reserva.present? %>
  <p>
    Reservado para: <%= @hospedagem.reserva.cliente %>,<br />
    para a data: <%= @hospedagem.reserva.data %>
  </p>
  <%= f.hidden_field :reserva_id %>
<% end %>

<p>
  <%= f.label :cliente %><br />
  <%= f.collection_select :cliente_id, Cliente.all, :id, :nome, :include_blank => true %>
</p>
<p>
  <%= f.label :data_reserva, 'Data da Entrada' %><br />
  <%= f.text_field :data_reserva_formatada, :class => :data %>
</p>
<p>
  <%= f.label :data_fim, 'Data da Saída' %><br />
  <%= f.text_field :data_fim_formatada, :class => :data %>
</p>
<p>
  <%= f.label :quarto_id %><br />
  <%= f.collection_select :quarto_id, Quarto.all, :id, :nome, :include_blank => true %>
</p>
<p>
  <%= f.label :diaria %><br />
  <%= f.text_field :diaria %>
</p>
