<h1><%= @hospedagem.cliente_nome %></h1>

<% form_for :consumo, :url => { :controller => :hospedagens, :action => :consumir } do |f| %>
  <p>
    <%= label_tag :produto_id %><br />
    <%= collection_select :consumo, :produto_id, Produto.all, :id, :nome, :include_blank => true %>
  </p>

  <p>
    <%= label_tag :valor %><br />
    <%= text_field_tag 'consumo[valor]' %>
  </p>

  <p>
    <%= label_tag :quantidade %><br />
    <%= text_field_tag 'consumo[quantidade]' %>
  </p>

  <%= submit_tag 'Adicionar' %>
<% end %>
