<h1>Edição de Hospedagem</h1>

<p>
  <%= link_to 'Ver', @hospedagem %> |
  <%= link_to 'Todas', hospedagens_path %>
</p>

<% form_for(@hospedagem) do |f| %>
  <%= render :partial => 'formulario', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<p>
  <%= link_to 'Ver', @hospedagem %> |
  <%= link_to 'Todas', hospedagens_path %>
</p>
