<h1>Hospedagem</h1>

<div id="container">
  <div id="content">
    <p>Quartos sem hospedagens hoje: <%= Hospedagem.quartos_em(Date.today) %>.</p>

    <%= link_to 'Nova Hospedagem', new_hospedagem_path, :class => :linkto %>

    <table>
      <tr>
        <th>Cliente</th>
        <th>Data reserva</th>
        <th>Data fim</th>
        <th>Quarto</th>
        <th>Estado</th>
        <th>Ações</th>
      </tr>

      <% @hospedagens.each do |hospedagem| %>
        <tr>
          <td><%=h hospedagem.cliente_nome %></td>
          <td><%=h l hospedagem.data_reserva %></td>
          <td><%=h l hospedagem.data_fim %></td>
          <td><%=h hospedagem.quarto_nome %></td>
          <td><%= hospedagem.estado %></td>
          <td><%= link_to 'Ver', hospedagem %></td>
        </tr>
      <% end %>
    </table>

    <%= link_to 'Nova Hospedagem', new_hospedagem_path, :class => :linkto %>

  </div>
</div>
