<h1>Hospedagem</h1>

<div id="container">
  <div id="content">
    <p>Quartos sem hospedagens hoje: <%= Hospedagem.quartos_em(Date.today) %>.</p>

    <p>Clique em <b>Mais opções</b> para interagir com a hospedagem.</p>

    <%= link_to 'Nova Hospedagem', new_hospedagem_path, :class => :linkto %>

    <table>
      <tr>
        <th>Cliente</th>
        <th>Data de Entrada</th>
        <th>Data de Saída</th>
        <th>Quarto</th>
        <th></th>
      </tr>

      <% @hospedagens.each do |hospedagem| %>
        <tr class="<%= 'finalizado' if hospedagem.finalizado? %>">
          <td><%=h hospedagem.cliente_nome %></td>
          <td><%=h l hospedagem.data_reserva %></td>
          <td><%=h l hospedagem.data_fim %></td>
          <td><%=h hospedagem.quarto_nome %></td>
          <td><%= link_to 'Mais opções', hospedagem %></td>
        </tr>
      <% end %>
    </table>

    <%= link_to 'Nova Hospedagem', new_hospedagem_path, :class => :linkto %>
    <p>* Itens em cinza já foram finalizados.</p>
  </div>
</div>
