<p>
  <%= link_to 'Editar', edit_hospedagem_path(@hospedagem) %> |
  <%= link_to 'Contabilizar', { :controller => :hospedagens, :action => :contabilizar, :id => @hospedagem.id } %> |
  <%= link_to 'Finalizar', { :controller => :hospedagens, :action => :finalizar, :id => @hospedagem.id } %> |
  <%= link_to 'Adicionar Consumo', { :controller => :hospedagens, :action => :consumo, :id => @hospedagem.id } %> |
  <%= link_to 'Apagar', @hospedagem, :confirm => 'Sure?', :method => :delete %> |
  <%= link_to 'Voltar para Todas as hospedagens', hospedagens_path %> |
</p>

<p><b>Estado:</b> <%= @hospedagem.estado %></p>

<p>
  <b>Cliente:</b>
  <%=h @hospedagem.cliente_nome %>
</p>

<p>
  <b>Data de Entrada:</b>
  <%=h l @hospedagem.data_reserva %>
</p>

<p>
  <b>Data de Saída:</b>
  <%=h l @hospedagem.data_fim %>
</p>

<p>
  <b>Quarto:</b>
  <%=h @hospedagem.quarto_nome %>
</p>

<p>
  <b>Diária:</b>
  <%=h @hospedagem.diaria %>
</p>

<% unless @hospedagem.produtos_hospedagens.size.zero? %>
  <p>Consumos:</p>
  <ul>
    <% @hospedagem.produtos_hospedagens.each do |consumo| %>
      <li><%= consumo.produto.nome if consumo.produto %> - R$ <%= consumo.valor %> - <%= consumo.quantidade %> - R$ <%= consumo.valor_total %></li>
    <% end %>
  </ul>
<% else %>
  <p>Sem consumo.</p>
<% end %>

<p>
  <b>Total:</b> R$ <%= @hospedagem.total %>
</p>

<p>
  <%= link_to 'Editar', edit_hospedagem_path(@hospedagem) %> |
  <%= link_to 'Contabilizar', { :controller => :hospedagens, :action => :contabilizar, :id => @hospedagem.id } %> |
  <%= link_to 'Finalizar', { :controller => :hospedagens, :action => :finalizar, :id => @hospedagem.id } %> |
  <%= link_to 'Adicionar Consumo', { :controller => :hospedagens, :action => :consumo, :id => @hospedagem.id } %> |
  <%= link_to 'Apagar', @hospedagem, :confirm => 'Sure?', :method => :delete %> |
  <%= link_to 'Voltar para Todas as hospedagens', hospedagens_path %> |
</p>
